body {
    padding: 0;
    margin: 0;
}
div { display: block; }
#oer-container { 
    margin: 0 auto;
    display: table;
    position: relative;
}
#oer-container,
#search-options-container,
#results-container,
#oer-information-box,
#footer-container {
    width: 600px;
}

.search-query { float: left; }
#search-options-container {
    height: 50px;
    background-color: #ba55d3;
    box-shadow: 0 1px 4px;
    vertical-align: middle;
    display: table;
    padding: 5px;
    z-index: 9999;
    position: fixed;
    top: 0;
    width: 590px;
}
.search-minimal input[type='text'] {
    line-height: 1em !important;
    font-size: 1em !important;
}
.search-minimal {
    display: table;
}
.search-query {
    float: none;
    display: table-cell;
    vertical-align: middle;
}
.search-query input[type='text'] {
    box-sizing: border-box;
    width: 450px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 21px;
    outline: 0;
    padding: 5px 30px 5px 10px;
    font-size: 1.1em
}
.search-query:first-child {
    width: 80%;
}
.search-query:last-child {
    width: 20%;
}
.search-query .fa {
    margin-left: -30px;
}
#results-container,
.oer-information-box {
    display: table;
    margin-top: 62px;
    margin-bottom: 41px;
}
#results-container {
    z-index: 1;
    position: relative;
}
.result-box-wrapper {
    float: left;
    display: block;
    min-height: 420px;
}
#footer-container {
    position: fixed;
    bottom: 0;
    display: block;
    height: 30px;
    background-color: rgba(170, 55, 200, 1);
    padding: 5px;
    box-shadow: 0 1px 4px;
    z-index: 9999;
}
.object-wrapper {
    width: 100px;
    height: 120px;
    padding: 10px;
    float: left;
    display: block;
    transition: background-color .2s ease-in-out;
    overflow: hidden;
    position: relative;
}

.object-name {
    display: none;
    text-align: center;
    font-size: 0.7em;
    overflow: hidden;
    width: 100px;
    max-height: 1.3em;
    position: absolute;
    bottom: 10px;
    transition: all .3s ease-in-out;
}

.object-preview,
.object-preview img {
    width: 100px;
    height: 100px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}
.object-preview {
    display: table-cell;
}

.object-preview .selected-mark {
    display: none;
    position: absolute;
    color: white;
    font-size: 2em;
    margin: 8px;
    transition: all 0.7s ease-in-out;
}
.selected .selected-mark {
    display: inline-block;
}

.selected .object-preview img {
    width: 90px;
    height: 90px;
    margin: 5px;
    filter: blur(40px);
}
.pagenav-selector {
    margin: 0;
    padding: 0;
    display: table-cell;
    height: 30px;
    line-height: 30px;
}

.pagenav-selector li {
    list-style-type: none;
    list-style-position: inside;
    display: table-cell;
}

.resource-cover {
    width: 120px;
    height: 140px;
    margin: -10px;
    opacity: 0;
    position: absolute;
    cursor: pointer;
}

.object-wrapper:hover {
    background-color: rgba(20,20,20,.2);
}
.object-wrapper.selected {
    background-color: rgba(170,55,200,.6);
}

.object-wrapper:hover .object-name,
.object-wrapper.selected .object-name {
    display: inline-block;
    clear: both;
}

.pagenav-selector li > a {
    padding: 3px 4px 0;
    margin: auto 4px auto 0;
    text-align: center;
    min-width: 18px;
    display: block;
    background-color: #681f7a;
    font-size: 0.8em;
    color: #fff;
    text-shadow: none;
    text-decoration: none;
    font-weight: bold;
    transition: all .2s ease-in-out;
}
.pagenav-selector li > a:hover {
    background-color: rgba(34, 10, 41, .3);
}
.pagenav-selector li > .selected {
    background-color: rgb(34, 10, 41);
}
.pagenav-selector li > a.selected:hover {
    background-color: rgba(34, 10, 41, .7);
}

.oer-information-box {
    z-index: -200;
    display: table-cell;
    position: fixed;
    margin-top: 10px;
}
.info-message {
    display: none;
    position: absolute;
    color: #efd6f5;
    font-size: 4em;
    width: 600px;
    margin: 0 auto;
    top: 180px;
    text-align: center;
    text-shadow: 0 4px 8px rgba(222,174,234, .4);
}
.info-message.active {
    display: block;
}
